:root{
    --bg-body:#81b1e9;
}
body{
    background: var(--bg-body);
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}
img{
    width: 250px;
}

/* block: card */
.card{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   
}

.card__content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.card__btn{
    border: none;
    padding: 4px 8px;
    /*border-radius: 10px;*/
}

.card__headers .card__btn{
    border: 1px solid #737475;
    font-size: 10px;
}

.card_footer .card__btn{
    background: #7f8081;
    font-size: 12px;
    /*color:#1531e5;
    font-weight: 600;*/
    padding: 6px 15px;
}

.card__text{
    font-size: 20px;
    color: #675252;
}

.card_footer{
    display: flex;
    justify-content: left;
}